node_modules/
.ignored_node_modules/
.next/
dist/
build/
out/
.turbo/
*.node
.env
.env.local
.DS_Store
.vercel
.env*

# Firebase Local Emulator Suite diagnostics
firebase-debug.log
firestore-debug.log
